body {
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .main-content {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  min-height: 94vh;
  background-color: #f5f5f7;
}

a {
  text-decoration: none;
}

select {
  appearance: none;
  height: 40px;
  min-width: 200px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 0 15px;
}

.main-content {
  margin-left: 60px;
  margin-top: 60px;
  padding: 0;

  @media screen and (max-width: 768px) {
    & {
      margin: 60px 0 50px 0;
    }
  }
}

.container {
  margin-bottom: 80px;
}

.container-fluid {
  max-width: 1600px;
}

.app {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-red {
  color: var(--red) !important;
}

.content {
  padding: 30px;
}

.action {
  cursor: pointer;
  padding: 3px 7px;
}

.dropdown-item {
  cursor: pointer;
}

.form__wrap {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(40,35,80,.28);
  background-color: #fff;
  max-width: 800px;
  width: 94%;
  margin: 50px auto 0 auto;
  position: relative;
}

.default-stub {
  padding: 0 15px;

  &__text {
    font-weight: 500;
    font-size: 18px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    transition: color .3s;

    &:hover {
      text-decoration: none;
      color: #ec174f;
    }
  }
}