/*Global styles*/
:root {
  --red: #ec174f;
}

body, html {
  height: 100%;
}

html {
  overflow-y: scroll; 
  /* overflow-y: overlay; */
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  margin-left: 60px;
  margin-top: 60px;
}

.app {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-red {
  color: var(--red) !important;
}

.btn-purple, .bg-purple {
  background-color: rgb(77, 0, 128) !important;
  color: #fff !important;
}

.content {
  padding: 30px;
}

.action {
  cursor: pointer;
  padding: 3px 7px;
}

.dropdown-item {
  cursor: pointer;
}

.form__wrap {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(40,35,80,.28);
  background-color: #fff;
  max-width: 800px;
  width: 94%;
  margin: 50px auto 0 auto;
  position: relative;
}

.content-box {
  position: relative;
  /* border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(40,35,80,.28);
  background-color: #fff;
  margin-top: 50px; */
}

.pointer {
  cursor: pointer;
}

/*checkbox*/
input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
input[type=checkbox] + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #bebebe;
  transition: all .3s;
}
input[type=checkbox]:hover + label:before {
  background: var(--red);
}

input[type=checkbox]:checked + label:before {
  background: var(--red);
}
input[type=checkbox]:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
input[type=checkbox]:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
input[type=checkbox]:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

input[data-error=true] {
  border-color: #ec174f;
}