.items-slider .slick-list {
    max-height: 470px;
    margin-top: 50px;
}

.items-slider  .movie_item {
    max-width: 230px;
}

.items-slider__arrow {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    padding: 0;
    outline: none;
    z-index: 10;
    transition: all .3s;
}

.items-slider__arrow:hover {
    background: rgba(255, 255, 255, .5);
}

.items-slider__arrow.prev {
    right: 130px;
}

.items-slider__arrow.next {
    right: 14px;
}