.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.pagination-item {
    margin: 0 5px;
    border: 1px solid #ec174f;
}

.pagination-item--disabled {
    border-color: #bbbbbb;
    pointer-events: none;
    display: none;
}
.pagination-item--disabled .pagination-link {
    color: #bbbbbb;
}

.pagination-item.active .pagination-link {
    background: #ec174f;
    color: #fff;
}

.pagination-link {
    padding: 0 13px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    color: #ec174f;
    transition: all .3s;
    font-size: 14px;
    font-weight: 500;
}

.pagination-link:hover {
    background: #ec174f;
    color: #fff;
    text-decoration: none;
}

.pagination-link:hover,
.pagination-link:focus,
.pagination-link:active {
    outline: none;
    box-shadow: none;
}