.dropdown-container {
  position: relative;
}

.dropdown-menu {
  display: block !important;
  right: 0 !important;
  left: auto !important;

  .list {
    padding: 10px 0;
  }

  .list-item {
    display: block;
    padding: 5px 20px;
    color: #17a2b8;
    transition: all .3s;

    &:hover {
      background: #f1f1f1;
      text-decoration: none;
    }
  }
}
