.bugreport__textarea {
    min-height: 190px;
}

.bug-report-button {
    position: fixed;
    top: 75px;
    left: -10px;
    cursor: pointer;
    background: #ec174f;
    color: #fff !important;
    width: 60px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 20px;
    transition: all .3s;
    z-index: 10;
}
.bug-report-button:hover {
    box-shadow: 0 0 15px 5px #d0bbc0;
    left: 0;
}
.bug-report-button:hover .bug-report-button__tooltip {
    opacity: 1;
}
.bug-report-button__tooltip {
    position: absolute;
    font-size: 13px;
    background: #333;
    width: 230px;
    left: 10px;
    top: -35px;
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
}