.tabs {
    display: flex;
    margin: 20px 0 50px 0;
}

.tab-container {
    position: relative;
    border-radius: 4px;
    margin: 0 15px;
    overflow: hidden;
    transition: all .3s;
}

.tab-container:nth-child(1n + 1) {
    background: linear-gradient(135deg, #1CB5E0 0%, #000851 100%);
}

.tab-container:nth-child(2n + 1) {
    background: linear-gradient(135deg, #d53369 0%, #daae51 100%);
}

.tab-container:nth-child(3n+1) {
    background: linear-gradient(135deg, #FDBB2D 0%, #22C1C3 100%);
}

.tab-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
    margin: 0;
}

.tab-container.main {
    min-height: 250px;
    flex: 1;
}

.tab-body {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    min-height: 110px;
    padding: 0 30px;
}

.card {
    transition: all .3s;
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: .7;
}

.tab-container:hover {
    box-shadow: 0 0 15px 5px #c7c7c7;
}

.nav-link.active .card {
    box-shadow: 0 0 15px 5px #c7c7c7;
}

.nav-link.active img {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .tabs .col {
        min-width: auto;
    }
}