.brick-tabs {
  display: flex;
  margin: 20px 0 50px 0;

  .tab-item {
    position: relative;
    border-radius: 4px;
    margin: 0 15px;
    background: linear-gradient(135deg, rgb(25, 40, 66) 0%, rgb(37, 67, 107) 100%);;
    overflow: hidden;
    transition: all .3s;
  
    // &:nth-child(1n + 1) {
    //   background: linear-gradient(135deg, #1CB5E0 0%, #000851 100%);
    // }
  
    // &:nth-child(2n + 1) {
    //   background: linear-gradient(135deg, #d53369 0%, #daae51 100%);
    // }
  
    // &:nth-child(3n+1) {
    //   background: linear-gradient(135deg, #FDBB2D 0%, #22C1C3 100%);
    // }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
  
    &__body {
      position: relative;
      display: flex;
      align-items: center;
      justify-items: center;
      height: 100%;
      min-height: 110px;
      padding: 0 30px;
    }
  
    &__title {
      width: 100%;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      letter-spacing: 1.5px;
      margin: 0;
    }
  
    &.main {
      min-height: 250px;
      flex: 1;
    }
  
    &:hover {
      box-shadow: 0px 0px 20px 5px #8b949c;
      text-decoration: none;
      transform: scale(1.02);
    }
  }
}
