.item-full.overlay::before {
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
}

.item-full .content-wrap {
    position: relative;
    z-index: 2;
}

.item-full__info {
    color: #fff;
}

.item-full__title {
    font-size: 60px;
}

.item-full__original-title {
    font-size: 16px;
}

.item-full img {
    max-width: 250px;
    margin: 0 15px 15px 0;
    float: left;
}

.item-full .overview {
    position: relative;
    line-height: 23px;
    font-size: 16px;
}

.item-full .nav-link {
    color: #fff;
    mix-blend-mode: difference;
}

.item-full .tabs-content {
    padding: 15px;
}

.info-block__title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    color: #cacaca;
}

.info-block__data {
    font-size: 18px;
}

.info-top span:not(:last-child) {
    border-right: 1px solid #fff;
    margin-right: 15px;
    padding-right: 15px;
}

.info-top span {
    font-size: 18px;
    font-weight: 500;
}

.SocialMediaShareButton {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    outline: none;
}

.SocialMediaShareButton:focus,
.SocialMediaShareButton:active {
    outline: none;
}

.share-buttons {
    display: inline-block;
}

.cast-wrap .info-block__data{
    display: flex;
    flex-wrap: wrap;
}

.cast-profile-link {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 5px;
}

.cast-profile-link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
