.tabs {
    margin: 50px 0;
}

.tabs .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 0;
}

.tabs .card {
    position: relative;
    border: 0;
    overflow: hidden;
    background: #15363d;
}

.tabs .card-body {
    position: relative;
    border: 0;
    padding: 0 30px;
    min-height: 110px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.card {
    transition: all .3s;
}

.card:hover {
    background: #98b2eb !important;
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: .4;
}

.card:hover {
    box-shadow: 0 0 15px 5px #c7c7c7;
}

.nav-link.active .card {
    box-shadow: 0 0 15px 5px #c7c7c7;
}

.nav-link.active img {
    opacity: 1;
}