.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-left: 60px;
    background: #ec174f;
    z-index: 100;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}

.header__links a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px;
}

.header__links a:hover {
    color: #fff;
    text-decoration: none;
}
/*#981437*/
.nav-items a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    transition: all .3s;
    margin: 0;
    display: inline-block;
}

.nav-items a:hover {
    background: #981437;
    text-decoration: none;
}

.nav-items a.active {
    background: #981437;
}

.user-menu .dropdown-menu {
    min-width: 260px;
}

.navbar__user-icon i {
    font-size: 26px;
}

@media screen and (max-width: 768px) {
    .header.navbar {
      padding: 0;
    }
  }