.carousel {
  display: flex;
  width: 100%;
  height: 100px;

  &__slider {
    flex: 1;
    height: 100%;

    &-tray {
      height: 100%;

      &-wrapper {
        height: 100%;
      }
    }
  }

  .carousel__inner-slide {
    transition: all .1s;

    &:hover {
      box-shadow: 0px 0px 20px 5px #8b949c;
      text-decoration: none;
      transform: scale(1.02);
    }
  }

  &__slide {
    height: 100%;
    padding-bottom: 0 !important;
  }

  .loading {
    .carousel__inner-slide {
      animation-duration: 1.8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #4b6cb7 8%, #182848 38%, #4b6cb7 54%);
      background-size: 1000px 640px;
      
      position: relative;
    }    
  }

  &__inner {
    &-slide {
      max-width: 94%;
      margin: 0 3%;
      border: 1px solid rgb(230, 230, 230);
      background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    }
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.slider-item {
  border: 1px solid #333;
  background: #f8f8f8;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #fff;
    outline: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}