.items__wrap {
  min-height: 100px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .items__wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 860px) {
  .items__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .items__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}