.footer {
    border-top: 1px solid #cecece;
    background: #e8e8e8;
    /* background: #292929; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin-top: auto
}
.footer a {
    /* color: #fff; */
    color: #333;
    transition: all .3s;
    text-decoration: none;
}
.footer a:hover {
    color: #ec174f;
    text-decoration: none;
}
.footer__contacts {
    display: flex;
    flex-wrap: wrap;
}
.footer__contacts p {
    margin: 0 15px 0 8px;
    font-size: 16px;
}
.footer__contacts i {
    margin-right: 10px;
}
.footer__social a {
    margin: 0 8px;
    font-size: 26px;
}