h3 {
    text-transform: uppercase;
    font-size: 22px;
}
.movie-form__wrap {
    position: relative;
}

.spinner__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu .dropdown-menu {
    min-width: 260px;
    left: auto !important;
    right: 0 !important;
}

.user-menu__email {
    padding: .25rem 1.5rem;
}
.bugreport__textarea {
    min-height: 190px;
}

.navbar__user-icon i {
    font-size: 26px;
}

.movies_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
}

.movie_item {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: flex;
    height: 150px;
    position: relative;
}

.movie_img {
    overflow: hidden;
    position: relative;
    width: 100px;
}

.movie_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.movie_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.movie_info__top {
    display: flex;
    align-items: flex-start;
}

.movie_info__bottom {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.movie_info h3 {
    font-size: 16px;
    flex-grow: 1;
    text-transform: uppercase;
}

.movie-form__poster img {
    max-width: 100px;
}

.action {
    cursor: pointer;
    padding: 3px 7px;
}

.dropdown-item {
    cursor: pointer;
}

.like-btn {
    margin-left: auto;
    /* cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 10px; */
}

.label {
    position: absolute;
    font-size: 14px;
    text-align: center;
    padding: 2px 0;
    text-transform: uppercase;
    transform-origin: 50%;
    transform: rotate(-45deg);
    left: -35px;
    top: 25px;
    width: 150px;
}

.bug-report-button {
    position: fixed;
    display: block;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    background: #ec174f;
    color: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    transition: all .3s;
}
.bug-report-button:hover {
    box-shadow: 0 0 15px 5px #d0bbc0;
}
.bug-report-button:hover .bug-report-button__tooltip {
    opacity: 1;
}
.bug-report-button__tooltip {
    position: absolute;
    font-size: 13px;
    background: #333;
    width: 230px;
    left: 0;
    top: -30px;
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .movies_wrap {
        grid-template-columns: 1fr 1fr;
    }
    .movie_item {
        height: 120px;
    }
}

@media screen and (max-width: 768px) {
    .movies_wrap {
        display: block;
        padding: 10px;
    }
    .movie_item {
        margin: 10px 0;
    }
}